#productsection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 20px;
}
#productsection .product{
    background-color: rgba(148, 199, 199, 0.817);
    color: white;
    min-height: 300px;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    row-gap: 5px;
}

.product img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.product button{
    border: none;
    padding: 5px;
    color:yellowgreen;
    border-radius: 5px;
}
.product button:hover{
    background-color:yellow;
    color: black;
}
@media only screen and (max-width: 800px) {
    #productsection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    
}
@media only screen and (max-width: 360px) {
    #productsection{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }    
}